body{
	background-image: url(Imagenes/cris.jpg);
}
h1{
	color: skyblue;font-size: 40px;background-color: #761707;
	padding: 10px;
	border: 5px solid powderblue;
	text-align: center;
}
ul {
	list-style-type:none;	
	overflow:hidden;
	margin: 0px;
	padding: 5px;
}
li a{
	float: right;
}
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
}
li a:hover{
	background-color: green;
}


p{
	color:#EC638B;font-size: 25px;
	}

h2{
	color: #EAEE6F;font-size: 30px;
}

li{
	color: white;

}
ol li{
	padding: 5px;
	list-style-type:none;
}